
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 53rem;
}.component-67-cRR {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.component-67-cRR .property-1frame-27-xkB {
  margin-right: 3.6rem;
  box-sizing: border-box;
  padding-top: 2.8rem;
  width: 22.7rem;
  height: 3.4rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  line-height: 0.625;
  letter-spacing: 0.04rem;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.component-67-cRR .property-1frame-28-SQT {
  width: 22.7rem;
  height: 3.4rem;
  overflow: hidden;
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  line-height: 0.625;
  letter-spacing: 0.04rem;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  filter: blur(0.2rem);
  flex-shrink: 0;
}
