
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--vc3 {
  width: 100%;
  height: 408.7rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .service-1-zM1 {
    width: 192rem;
    height: 94.9333rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .footer-7wR {
    width: 192rem;
    height: 58rem;
    left: 0;
    top: 350.7rem;
    box-sizing: border-box;
    padding: 17.9rem 11.9rem 11.9rem 12.1rem;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1a1a3c;

    .auto-group-sahq-QQj {
      margin-bottom: 2.4rem;
      width: 100%;
      height: 19.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-oi3m-YG3 {
        box-sizing: border-box;
        padding-right: 7.1rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .blockinfo1-HUX {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 7.2rem;
          width: 51.2rem;

          .item--dHV {
            margin: 0rem 0rem 0.4rem 1.3rem;
            font-size: 3rem;
            font-weight: 600;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            color: #ffffff;
          }
          .line-2-shd {
            background-color: #abaacc;
            flex-shrink: 0;
            margin-bottom: 2.9rem;
            width: 100%;
            height: 0.3rem;
          }
          .item--p75 {
            margin-right: 9.1rem;
            row-gap: 1.4rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .text1-YHy {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text2-rpT {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0.1rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text3-nCK {
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
            }
          }
        }
        .blockinfo2-We7 {
          width: 51.2rem;
          flex-shrink: 0;

          .item--eVR {
            white-space: nowrap;
            margin: 0rem 0rem 0.4rem 13.6rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .line-2-Lt3 {
            margin-bottom: 2.3rem;
            width: 100%;
            height: 0.3rem;
            background-color: #abaacc;
          }
          .item--gh1 {
            display: flex;
            flex-direction: column;
            row-gap: 1.4rem;

            .text1-RPh {
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .text2-gqR {
              margin-left: 0.1rem;
              font-weight: 400;
              line-height: 1.2175;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text3-PNT {
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
            }
          }
        }
      }
      .blockinfo3-JkK {
        height: 100%;
        flex-shrink: 0;
        width: 51.3rem;

        .item--f55 {
          line-height: 1.2175;
          letter-spacing: 0.03rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.4rem 8.7rem;
          font-size: 3rem;
          font-weight: 600;
        }
        .line-2-ksD {
          margin: 0rem 0rem 3.1rem 0.1rem;
          width: 51.2rem;
          height: 0.3rem;
          background-color: #abaacc;
        }
        .auto-group-w7uo-sgw {
          display: flex;
          align-items: center;
          margin-right: 16.1rem;
          width: calc(100% - 16.1rem);
          height: 12.2rem;

          .item--12T {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 2rem;
            height: 100%;
            row-gap: 1rem;

            .mask-group-vQK {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
            }
            .mask-group-fsh {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
            }
            .mask-group-1gf {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
            }
          }
          .item--ZCP {
            margin: 0.1rem 0rem 0.3rem 0rem;
            height: calc(100% - 0.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .instagram-GsV {
              font-weight: 400;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 2.4rem;
              letter-spacing: 0.024rem;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.3rem;
            }
            .telegram-o6j {
              margin: 0rem 0rem 1.5rem 0.1rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              white-space: nowrap;
            }
            .mail-7t7 {
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
            }
          }
        }
      }
    }
    .item--rKu {
      height: 0.3rem;
      background-color: #abaacc;
      flex-shrink: 0;
      margin-bottom: 3.9rem;
      width: 100%;
    }
    .auto-group-mtts-kgB {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.5rem 0rem 0.1rem;
      width: calc(100% - 0.6rem);
      display: flex;

      .item-2023--Us5 {
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.015rem;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 60.8rem;
        font-size: 1.5rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .item--mbH {
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.015rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
      }
    }
  }
  .item--WSP {
    height: 40rem;
    position: absolute;
    left: 0;
    top: 314.8rem;
    border-radius: 20rem;
    width: 219.7rem;

    .stolbincaptv2-400x400-1-pCB {
      width: 40rem;
      height: 40rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
    }
    .stolbincaptv2-400x400-5-vm1 {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
      width: 40rem;
      height: 40rem;
      position: absolute;
      left: 68.5rem;
    }
    .stolbincaptv2-400x400-3-3aj {
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
      width: 40rem;
      height: 40rem;
      position: absolute;
      left: 29rem;
      top: 0;
    }
    .stolbincaptv2-400x400-6-Zoy {
      width: 40rem;
      height: 40rem;
      position: absolute;
      left: 108.4rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
    }
    .stolbincaptv2-400x400-2-u79 {
      left: 9.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
      width: 40rem;
      height: 40rem;
      position: absolute;
    }
    .stolbincaptv2-400x400-7-pzo {
      vertical-align: top;
      border-radius: 20rem;
      width: 40rem;
      height: 40rem;
      position: absolute;
      left: 88.5rem;
      top: 0;
      object-fit: cover;
    }
    .stolbincaptv2-400x400-4-ktT {
      width: 40rem;
      height: 40rem;
      position: absolute;
      left: 49rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
    }
    .stolbincaptv2-400x400-8-Vb9 {
      left: 128.4rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
      width: 40rem;
      height: 40rem;
      position: absolute;
    }
    .stolbincaptv2-400x400-9-dST {
      position: absolute;
      left: 148.4rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
      width: 40rem;
      height: 40rem;
    }
    .stolbincaptv2-400x400-10-wT9 {
      width: 40rem;
      height: 40rem;
      position: absolute;
      left: 168.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 20rem;
    }
  }
  .item--TAb {
    position: absolute;
    left: 0;
    top: 190.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 192rem;
    height: 87.9rem;
  }
  .loupe-png-background-1-mh5 {
    top: 195.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 123.1rem;
    height: 128rem;
    position: absolute;
    left: 20.7rem;
  }
  .rectangle-3-haj {
    left: 7.4rem;
    top: 83.5rem;
    background-color: rgba(184, 203, 221, 0.6600000262);
    border-radius: 11.4rem;
    width: 177.2rem;
    height: 278.4rem;
    position: absolute;
  }
  .item--RFq {
    top: 86.7rem;
    width: 137.5rem;
    height: 8.2rem;
    position: absolute;
    left: 12rem;

    .item--viP {
      font-size: 6.4rem;
      letter-spacing: 0.32rem;
      font-style: italic;
      font-family: Montserrat, 'Source Sans Pro';
      height: 7.8rem;
      top: 0;
      left: 0.2rem;
      font-weight: 900;
      line-height: 1.2175;
      white-space: nowrap;
      width: 137.3rem;
      position: absolute;
    }
    .item--aY3 {
      width: 137.3rem;
      height: 7.8rem;
      top: 0.2rem;
      font-size: 6.4rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 0.1rem;
      font-weight: 900;
      line-height: 1.2175;
      letter-spacing: 0.32rem;
      font-style: italic;
    }
    .item--1NT {
      font-style: italic;
      font-family: Montserrat, 'Source Sans Pro';
      height: 7.8rem;
      top: 0.4rem;
      font-size: 6.4rem;
      font-weight: 900;
      letter-spacing: 0.32rem;
      color: #000000;
      white-space: nowrap;
      width: 137.3rem;
      position: absolute;
      left: 0;
      line-height: 1.2175;
    }
  }
  .item--fC7 {
    width: 30.4rem;
    height: 4.1rem;
    position: absolute;
    left: 13.1rem;
    top: 72.521rem;

    .item--MKq {
      top: 0;
      font-size: 3rem;
      line-height: 1.2175;
      color: #696969;
      left: 0.2rem;
      height: 3.7rem;
      position: absolute;
      font-weight: 900;
      letter-spacing: 0.3rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      width: 30.2rem;
    }
    .item--EuR {
      width: 30.2rem;
      left: 0.1rem;
      top: 0.2rem;
      font-weight: 900;
      letter-spacing: 0.3rem;
      color: #696969;
      font-family: Montserrat, 'Source Sans Pro';
      height: 3.7rem;
      position: absolute;
      font-size: 3rem;
      line-height: 1.2175;
      white-space: nowrap;
    }
    .item--7yD {
      position: absolute;
      left: 0;
      top: 0.4rem;
      font-size: 3rem;
      letter-spacing: 0.3rem;
      width: 30.2rem;
      height: 3.7rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 900;
      line-height: 1.2175;
    }
  }
  .item--o5M {
    left: 9.0752rem;
    top: 59.3444rem;
    width: 18.9rem;
    height: 4.1rem;
    position: absolute;

    .item--Vis {
      line-height: 1.2175;
      letter-spacing: 0.3rem;
      width: 18.7rem;
      height: 3.7rem;
      position: absolute;
      left: 0.2rem;
      font-size: 3rem;
      top: 0;
      font-weight: 900;
      color: #696969;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .item--zQj {
      left: 0.1rem;
      letter-spacing: 0.3rem;
      width: 18.7rem;
      height: 3.7rem;
      font-size: 3rem;
      font-weight: 900;
      line-height: 1.2175;
      color: #696969;
      font-family: Montserrat, 'Source Sans Pro';
      position: absolute;
      top: 0.2rem;
    }
    .item--goM {
      left: 0;
      font-size: 3rem;
      font-weight: 900;
      position: absolute;
      height: 3.7rem;
      top: 0.4rem;
      line-height: 1.2175;
      letter-spacing: 0.3rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      width: 18.7rem;
    }
  }
  .item--b9d {
    top: 60.6rem;
    width: 21.9268rem;
    height: 9.2117rem;
    position: absolute;
    left: 159.4104rem;

    .mercedes-benz-tPd {
      font-size: 3.6rem;
      position: absolute;
      height: 8.8rem;
      left: 0.1268rem;
      top: 0;
      font-weight: 900;
      line-height: 1.2175;
      letter-spacing: 0.36rem;
      color: #696969;
      width: 21.8rem;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .mercedes-benz-Q75 {
      height: 8.8rem;
      top: 0.2058rem;
      font-weight: 900;
      line-height: 1.2175;
      letter-spacing: 0.36rem;
      width: 21.8rem;
      position: absolute;
      left: 0.0634rem;
      font-size: 3.6rem;
      color: #696969;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .mercedes-benz-uJj {
      top: 0.4117rem;
      font-weight: 900;
      line-height: 1.2175;
      letter-spacing: 0.36rem;
      color: #ffffff;
      width: 21.8rem;
      left: 0;
      font-size: 3.6rem;
      font-family: Montserrat, 'Source Sans Pro';
      height: 8.8rem;
      position: absolute;
    }
  }
  .item--pRh {
    font-weight: 500;
    line-height: 1.2175;
    position: absolute;
    top: 70.6rem;
    font-size: 2rem;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0.4rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6000000238));
    width: 26.2rem;
    cursor: pointer;
    color: #000000;
    border-radius: 1rem;
    height: 6rem;
    background-color: #ffffff;
    left: 81.6rem;
    letter-spacing: 0.02rem;
    display: flex;
  }
  .item-1-r7V {
    width: 40rem;
    height: 53.3rem;
    position: absolute;
    left: 12.6rem;
    top: 128.3rem;
    box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 3rem;
  }
  .item-2-Ma3 {
    left: 55.1rem;
    top: 128.3rem;
    box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 3rem;
    width: 40rem;
    height: 53.3rem;
    position: absolute;
  }
  .item-4-s2b {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 3rem;
    width: 40rem;
    height: 53.3rem;
    position: absolute;
    left: 97.6rem;
    top: 128.3rem;
    box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
  }
  .wheel-1-yrK {
    position: absolute;
    left: 157.1001rem;
    top: 130.1001rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.9998rem;
    height: 5.9999rem;
  }
  .item-3-iJ7 {
    width: 40rem;
    height: 53.3rem;
    position: absolute;
    left: 140.1rem;
    top: 128.3rem;
    box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 3rem;
  }
  .browser-1-EGT {
    vertical-align: top;
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 29.6rem;
    top: 130.1rem;
    object-fit: contain;
  }
  .online--m1V {
    height: 34.1rem;
    position: absolute;
    font-weight: 500;
    letter-spacing: 0.024rem;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    width: 34.1rem;
    left: 15.6rem;
    top: 137.9rem;
    font-size: 2.4rem;
    line-height: 1.2190000216;

    .online--m1V-sub-0 {
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2175;
      letter-spacing: 0.024rem;
      color: #000000;
    }
    .online--m1V-sub-1 {
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: 0.024rem;
      color: #000000;
    }
  }
  .mercedes-benz--Mfq {
    width: 34rem;
    position: absolute;
    left: 58.1rem;
    font-size: 2rem;
    height: 28.3rem;
    top: 137.9rem;
    font-weight: 700;
    line-height: 1.218999958;
    letter-spacing: 0.02rem;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';

    .mercedes-benz--Mfq-sub-0 {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .mercedes-benz--Mfq-sub-1 {
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 2.4rem;
    }
  }
  .mercedes-benz-online--2Z1 {
    top: 137.9rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
    font-family: Montserrat, 'Source Sans Pro';
    height: 34.1rem;
    position: absolute;
    left: 100.6rem;
    color: #000000;
    width: 34rem;
    font-size: 2rem;
    line-height: 1.218999958;

    .mercedes-benz-online--2Z1-sub-0 {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .mercedes-benz-online--2Z1-sub-1 {
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2175;
    }
  }
  .item-2--Fib {
    left: 143.1rem;
    top: 137.9rem;
    font-size: 2rem;
    line-height: 1.218999958;
    font-family: Montserrat, 'Source Sans Pro';
    width: 34rem;
    height: 29.3rem;
    position: absolute;
    font-weight: 700;
    letter-spacing: 0.02rem;
    color: #000000;

    .item-2--Fib-sub-0 {
      font-weight: 700;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 3.2rem;
    }
    .item-2--Fib-sub-1 {
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
    }
  }
  .parking-car-1-Nif {
    object-fit: contain;
    vertical-align: top;
    width: 6.6694rem;
    height: 6.6694rem;
    position: absolute;
    left: 71.7653rem;
    top: 130.2653rem;
  }
  .calendar-1-JsD {
    object-fit: contain;
    vertical-align: top;
    width: 6.3334rem;
    height: 6rem;
    position: absolute;
    left: 114.6rem;
    top: 130.3rem;
  }
  .item--SyR {
    position: absolute;
    left: 55.8rem;
    top: 199.8rem;
    width: 124.2rem;
    height: 23.6rem;

    .item--LJ7 {
      position: absolute;
      left: 0.3rem;
      text-align: right;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.2175;
      letter-spacing: 0.064rem;
      font-family: Montserrat, 'Source Sans Pro';
      width: 123.9rem;
      height: 23.4rem;
      top: 0;
      color: #000000;
    }
    .item--uVd {
      width: 123.9rem;
      height: 23.4rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2175;
      letter-spacing: 0.064rem;
      font-family: Montserrat, 'Source Sans Pro';
      left: 0;
      top: 0.2rem;
      text-align: right;
      font-size: 6.4rem;
      color: #ffffff;
    }
  }
  .mercedes-benz-tsM {
    width: 115.2rem;
    height: 8.2rem;
    position: absolute;
    left: 9.6rem;
    top: 280rem;

    .mercedes-benz-R6b {
      text-align: right;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.2175;
      color: #8895a1;
      top: 0;
      height: 7.8rem;
      position: absolute;
      left: 0.2rem;
      letter-spacing: 0.064rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      width: 115rem;
    }
    .mercedes-benz-uGf {
      width: 115rem;
      text-align: right;
      font-weight: 700;
      line-height: 1.2175;
      white-space: nowrap;
      color: #8895a1;
      font-family: Montserrat, 'Source Sans Pro';
      height: 7.8rem;
      position: absolute;
      left: 0.1rem;
      top: 0.2rem;
      font-size: 6.4rem;
      letter-spacing: 0.064rem;
    }
    .mercedes-benz-Phd {
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      width: 115rem;
      height: 7.8rem;
      left: 0;
      text-align: right;
      font-weight: 700;
      position: absolute;
      top: 0.4rem;
      font-size: 6.4rem;
      letter-spacing: 0.064rem;
      white-space: nowrap;
    }
  }
  .ellipse-9-t8b {
    width: 146.0551rem;
    height: 32.7141rem;
    position: absolute;
    left: 34rem;
    top: 97.8859rem;
    object-fit: contain;
    vertical-align: top;
  }
  .ellipse-10-1DD {
    width: 146.0551rem;
    height: 32.7141rem;
    position: absolute;
    left: 34.0449rem;
    top: 97.1rem;
    object-fit: contain;
    vertical-align: top;
  }
  .item--YU3 {
    position: absolute;
    left: 45.7rem;
    top: 107.7rem;
    width: 108.8rem;
    height: 6.1rem;

    .item--2e7 {
      white-space: nowrap;
      position: absolute;
      left: 0.3rem;
      top: 0;
      line-height: 1.2175;
      color: #939292;
      font-family: Montserrat, 'Source Sans Pro';
      width: 108.5rem;
      height: 5.9rem;
      font-size: 4.8rem;
      font-weight: 700;
      letter-spacing: 0.048rem;
    }
    .item--tAX {
      color: #939292;
      font-family: Montserrat, 'Source Sans Pro';
      width: 108.5rem;
      position: absolute;
      left: 0.1rem;
      font-size: 4.8rem;
      line-height: 1.2175;
      letter-spacing: 0.048rem;
      height: 5.9rem;
      top: 0;
      font-weight: 700;
      white-space: nowrap;
    }
    .item--8af {
      white-space: nowrap;
      width: 108.5rem;
      height: 5.9rem;
      top: 0.2rem;
      line-height: 1.2175;
      letter-spacing: 0.048rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      position: absolute;
      left: 0;
      font-size: 4.8rem;
      font-weight: 700;
    }
  }
  .frame-3-aSf {
    left: 139.5rem;
    top: 228.9rem;
    font-size: 1.7rem;
    line-height: 1.2175;
    font-family: Montserrat, 'Source Sans Pro';
    align-items: center;
    height: 4.5rem;
    cursor: pointer;
    justify-content: center;
    white-space: nowrap;
    width: 40.5rem;
    color: #ffffff;
    border-radius: 2.2rem 0 0 2.2rem;
    letter-spacing: 0.017rem;
    display: flex;
    font-weight: 500;
    background-color: #3d627b;
    position: absolute;
    overflow: hidden;
  }
  .header-EXD {
    width: 192rem;
    height: 13.7rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-2-xy1 {
      position: absolute;
      left: 0;
      top: 0.1rem;
      background-color: rgba(0, 39, 44, 0.400000006);
      width: 192rem;
      height: 13.6rem;
    }
    .rectangle-3-tLs {
      position: absolute;
      left: 0;
      top: 0.1rem;
      background-color: rgba(0, 39, 44, 0.400000006);
      width: 192rem;
      height: 13.6rem;
    }
    .mb-starnweb-1-2T5 {
      left: 12rem;
      top: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.8rem;
      height: 8.8rem;
      position: absolute;
    }
    .item--kdy {
      box-sizing: border-box;
      height: 5.1rem;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 0.02rem;
      padding: 1.3rem 2.8rem;
      left: 112.5rem;
      top: 3.9rem;
      width: 19rem;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      color: #ffffff;
      white-space: nowrap;
    }
    .item--QiX {
      position: absolute;
      letter-spacing: 0.02rem;
      box-sizing: border-box;
      line-height: 1.2175;
      width: 19rem;
      height: 5.1rem;
      cursor: pointer;
      top: 3.9rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      padding: 1.3rem 2.8rem;
      font-size: 2rem;
      font-weight: 500;
      left: 127.5rem;
    }
    .item--53y {
      color: #ffffff;
      white-space: nowrap;
      box-sizing: border-box;
      width: 19rem;
      height: 5.1rem;
      left: 142.5rem;
      top: 3.9rem;
      font-weight: 500;
      letter-spacing: 0.02rem;
      padding: 1.3rem 2.8rem;
      cursor: pointer;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      position: absolute;
      font-size: 2rem;
    }
    .item--9Jj {
      width: 19rem;
      left: 93rem;
      line-height: 1.2175;
      white-space: nowrap;
      display: flex;
      position: absolute;
      font-weight: 500;
      font-family: Montserrat, 'Source Sans Pro';
      top: 3.9rem;
      font-size: 2rem;
      letter-spacing: 0.02rem;
      justify-content: center;
      height: 5.1rem;
      cursor: pointer;
      color: #ffffff;
      align-items: center;
    }
    .item--cTD {
      object-fit: contain;
      vertical-align: top;
      width: 192rem;
      height: 13.6rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .navigator-XKH {
      width: 6.24rem;
      height: 3.9rem;
      cursor: pointer;
      position: absolute;
      left: 173.8rem;
      top: 4.9rem;

      .rectangle-7-eeo {
        width: 100%;
        height: 0.78rem;
        background-color: #fffdfd;
        border-radius: 1rem;
        margin-bottom: 0.82rem;
      }
      .rectangle-8-mzK {
        margin-bottom: 0.82rem;
        width: 4.5rem;
        height: 0.7rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
      .rectangle-9-6Fu {
        width: 100%;
        height: 0.78rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
    }
  }
  .component-65-Roy {
    display: flex;
    align-items: center;
    width: 113rem;
    height: 37.8rem;
    position: absolute;
    left: 31.5rem;
    top: 295.8rem;

    .auto-group-egxd-Ydh {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 3.3rem;
      width: 37.1rem;
      height: 100%;
      align-items: center;

      .auto-group-po63-gE7 {
        box-sizing: border-box;
        padding: 0rem 0rem 1rem 0.5rem;
        width: 100%;
        row-gap: 1rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-23-CCT {
          width: 35.5rem;
          height: 8.7rem;
          cursor: pointer;
          flex-shrink: 0;

          .rectangle-41-wA3 {
            align-items: center;
            font-size: 2.4rem;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            background-color: rgba(255, 255, 255, 0.6000000238);
            text-align: right;
            color: rgba(0, 0, 0, 0.8000000119);
            border: solid 0.3rem rgba(0, 0, 0, 0.8000000119);
            letter-spacing: 0.024rem;
            display: flex;
            font-weight: 700;
            line-height: 1.2175;
            justify-content: center;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
          }
        }
        .group-24-19u {
          width: 100%;
          height: 8.7rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-41-xL3 {
            position: absolute;
            left: 1.1rem;
            top: 0;
            border: solid 0.3rem rgba(0, 0, 0, 0.8000000119);
            box-sizing: border-box;
            width: 35.5rem;
            height: 8.7rem;

            .rectangle-38-tjV {
              width: 100%;
              height: 8.7rem;
              cursor: pointer;
              background-color: rgba(255, 255, 255, 0.6000000238);
            }
          }
          .item-5--pd9 {
            left: 0;
            text-align: right;
            font-size: 2.4rem;
            letter-spacing: 0.024rem;
            color: rgba(0, 0, 0, 0.8000000119);
            width: 36rem;
            position: absolute;
            top: 2.9rem;
            font-weight: 700;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            height: 3rem;
          }
        }
        .rectangle-41-Uhh {
          width: 35.5rem;
          font-weight: 700;
          letter-spacing: 0.024rem;
          border: solid 0.3rem rgba(0, 0, 0, 0.8000000119);
          font-size: 2.4rem;
          color: rgba(0, 0, 0, 0.8000000119);
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          background-color: rgba(255, 255, 255, 0.6000000238);
          height: 8.7rem;
          line-height: 1.2175;
          align-items: center;
          box-sizing: border-box;
          flex-shrink: 0;
          text-align: right;
          display: flex;
          justify-content: center;
        }
      }
      .group-26-YhZ {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 8.7rem;

        .rectangle-41-Jgj {
          width: 35.5rem;
          height: 8.7rem;
          position: absolute;
          left: 1.6rem;
          top: 0;
          border: solid 0.3rem rgba(0, 0, 0, 0.8000000119);
          box-sizing: border-box;

          .rectangle-38-rCT {
            width: 100%;
            height: 8.7rem;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.6000000238);
          }
        }
        .item--aeF {
          position: absolute;
          left: 0;
          top: 2.9rem;
          font-size: 2.4rem;
          line-height: 1.2175;
          width: 37.1rem;
          text-align: right;
          font-weight: 700;
          letter-spacing: 0.024rem;
          color: rgba(0, 0, 0, 0.8000000119);
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          height: 3rem;
        }
      }
    }
    .auto-group-ap4f-e8K {
      flex-shrink: 0;
      font-family: Montserrat, 'Source Sans Pro';
      font-weight: 700;
      line-height: 1.2175;
      justify-content: center;
      background: linear-gradient(180deg, #89b0bc -0%, rgba(168, 166, 166, 0.3899999857) 64.23%);
      font-size: 4.8rem;
      height: 100%;
      letter-spacing: 0.048rem;
      color: #000000;
      white-space: nowrap;
      display: flex;
      align-items: center;
      width: 72.6rem;
    }
  }
}
