
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--CVy {
  background-color: #ffffff;
  width: 100%;
  height: 350rem;
  position: relative;
  overflow: hidden;

  .footer-uvB {
    box-sizing: border-box;
    width: 192rem;
    position: absolute;
    top: 296.7rem;
    align-items: center;
    background-color: #1a1a3c;
    padding: 17.9rem 11.9rem 11.9rem 12.1rem;
    height: 58rem;
    left: 0;
    display: flex;
    flex-direction: column;

    .auto-group-af2k-zgj {
      width: 100%;
      height: 19.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 2.4rem;

      .auto-group-mnsd-LEo {
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 7.1rem;

        .blockinfo1-t1R {
          margin-right: 7.2rem;
          width: 51.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--pfm {
            margin: 0rem 0rem 0.4rem 1.3rem;
            font-weight: 600;
            color: #ffffff;
            white-space: nowrap;
            font-size: 3rem;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .line-2-VG7 {
            flex-shrink: 0;
            margin-bottom: 2.9rem;
            width: 100%;
            height: 0.3rem;
            background-color: #abaacc;
          }
          .item--Dxo {
            margin-right: 9.1rem;
            row-gap: 1.4rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .text1-XyV {
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
            }
            .text2-FuV {
              font-size: 2.4rem;
              font-weight: 400;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              margin-left: 0.1rem;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .text3-Nz7 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .blockinfo2-7B1 {
          width: 51.2rem;
          flex-shrink: 0;

          .item--PuD {
            margin: 0rem 0rem 0.4rem 13.6rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-2-tLB {
            margin-bottom: 2.3rem;
            width: 100%;
            height: 0.3rem;
            background-color: #abaacc;
          }
          .item--qWK {
            display: flex;
            flex-direction: column;
            row-gap: 1.4rem;

            .text1-Nm9 {
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .text2-7yd {
              font-weight: 400;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.1rem;
              line-height: 1.2175;
              white-space: nowrap;
              font-size: 2.4rem;
            }
            .text3-TGo {
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
          }
        }
      }
      .blockinfo3-PAT {
        height: 100%;
        flex-shrink: 0;
        width: 51.3rem;

        .item--99d {
          line-height: 1.2175;
          letter-spacing: 0.03rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.4rem 8.7rem;
          font-size: 3rem;
          font-weight: 600;
        }
        .line-2-e6P {
          margin: 0rem 0rem 3.1rem 0.1rem;
          width: 51.2rem;
          height: 0.3rem;
          background-color: #abaacc;
        }
        .auto-group-q2fv-AqR {
          margin-right: 16.1rem;
          width: calc(100% - 16.1rem);
          height: 12.2rem;
          display: flex;
          align-items: center;

          .item--JRq {
            height: 100%;
            row-gap: 1rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 2rem;

            .mask-group-SH9 {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
            }
            .mask-group-n67 {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
            }
            .mask-group-Wno {
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item--rLs {
            margin: 0.1rem 0rem 0.3rem 0rem;
            height: calc(100% - 0.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .instagram-AsM {
              margin-bottom: 1.3rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              white-space: nowrap;
              font-size: 2.4rem;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .telegram-hMV {
              white-space: nowrap;
              letter-spacing: 0.024rem;
              font-family: Montserrat, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.2175;
              color: #ffffff;
              flex-shrink: 0;
              margin: 0rem 0rem 1.5rem 0.1rem;
              font-size: 2.4rem;
            }
            .mail-RHV {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
            }
          }
        }
      }
    }
    .item--LvF {
      margin-bottom: 3.9rem;
      width: 100%;
      height: 0.3rem;
      background-color: #abaacc;
      flex-shrink: 0;
    }
    .auto-group-q2ou-3Js {
      width: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.5rem 0rem 0.1rem;

      .item-2023--n1Z {
        font-size: 1.5rem;
        letter-spacing: 0.015rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        margin-right: 60.8rem;
        font-weight: 500;
        line-height: 1.2175;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--GSX {
        line-height: 1.2175;
        letter-spacing: 0.015rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
  .item-01634569596-1-E1y {
    width: 192rem;
    height: 89rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .group-18-kW7 {
    position: absolute;
    left: 7.4rem;
    box-sizing: border-box;
    padding: 4.4rem 16.6rem 15.5rem 18.8rem;
    width: 177.2rem;
    height: 224.6rem;
    background-color: rgba(125, 130, 150, 0.6000000238);
    border-radius: 11.4rem;
    top: 79.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .item--ERH {
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2175;
      letter-spacing: 0.04rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 3.8rem 3.3rem;
    }
    .mercedes-benz-certified-8-800-555-88-68-fmV {
      margin: 0rem 0.7rem 8.4rem 0rem;
      font-weight: 400;
      line-height: 1.2325;
      letter-spacing: 0.032rem;
      font-family: Montaga, 'Source Sans Pro';
      max-width: 141.1rem;
      font-size: 3.2rem;
      color: #000000;
      flex-shrink: 0;
    }
    .item--i9R {
      font-size: 4rem;
      font-weight: 600;
      flex-shrink: 0;
      margin: 0rem 0rem 3.1rem 12.4rem;
      line-height: 1.2175;
      letter-spacing: 0.04rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--m7h {
      max-width: 141.7rem;
      font-size: 3.2rem;
      margin: 0rem 0.1rem 3.6rem 0rem;
      font-weight: 400;
      line-height: 1.2325;
      letter-spacing: 0.032rem;
      color: #000000;
      font-family: Montaga, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .item-2-200-2-1-50000--oyV {
      margin-bottom: 3.2rem;
      font-family: Montaga, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 141.8rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2325;
      letter-spacing: 0.032rem;
      color: #000000;

      .item-2-200-2-1-50000--oyV-sub-0 {
        color: #000000;
        font-family: Montagu Slab, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.032rem;
      }
      .item-2-200-2-1-50000--oyV-sub-1 {
      }
    }
    .item-3-15-000-3--x51 {
      font-size: 3.2rem;
      line-height: 1.2325;
      letter-spacing: 0.032rem;
      color: #000000;
      font-family: Montaga, 'Source Sans Pro';
      margin: 0rem 0.7rem 3.4rem 0rem;
      max-width: 141.1rem;
      font-weight: 400;
      flex-shrink: 0;
    }
    .item-200-3-15-000-15-000--Kbh {
      letter-spacing: 0.032rem;
      font-family: Montaga, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.2325;
      color: #000000;
      margin: 0rem 0.1rem 3.2rem 0rem;
      max-width: 141.7rem;
      font-size: 3.2rem;

      .item-200-3-15-000-15-000--Kbh-sub-0 {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.032rem;
        color: #000000;
        font-family: Montagu Slab, 'Source Sans Pro';
      }
      .item-200-3-15-000-15-000--Kbh-sub-1 {
      }
    }
    .item-15-000-7-499-272-03-31-b9D {
      margin-right: 0.8rem;
      max-width: 141rem;
      font-weight: 400;
      color: #000000;
      font-size: 3.2rem;
      line-height: 1.2325;
      letter-spacing: 0.032rem;
      font-family: Montaga, 'Source Sans Pro';
      flex-shrink: 0;

      .item-15-000-7-499-272-03-31-b9D-sub-0 {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.032rem;
        color: #000000;
        font-family: Montagu Slab, 'Source Sans Pro';
      }
      .item-15-000-7-499-272-03-31-b9D-sub-1 {
      }
    }
  }
  .item--5kX {
    height: 11.7rem;
    position: absolute;
    top: 18.5rem;
    font-size: 4.8rem;
    letter-spacing: 0.048rem;
    font-family: Montserrat, 'Source Sans Pro';
    width: 67.8rem;
    left: 12rem;
    font-weight: 600;
    line-height: 1.2175;
  }
  .header-WL3 {
    width: 192rem;
    height: 13.7rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 39, 44, 0.400000006);

    .mb-starnweb-1-qNK {
      width: 8.8rem;
      height: 8.8rem;
      position: absolute;
      left: 12rem;
      top: 2.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--A9h {
      font-size: 2rem;
      height: 5.1rem;
      position: absolute;
      left: 112.5rem;
      top: 3.8rem;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.3rem 2.8rem;
      width: 19rem;
      color: #ffffff;
      cursor: pointer;
      font-weight: 500;
    }
    .item--1w1 {
      font-size: 2rem;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.3rem 2.8rem;
      height: 5.1rem;
      left: 127.5rem;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      width: 19rem;
      position: absolute;
      top: 3.8rem;
      font-weight: 500;
      cursor: pointer;
    }
    .item--VLP {
      width: 19rem;
      height: 5.1rem;
      font-weight: 500;
      line-height: 1.2175;
      position: absolute;
      left: 142.5rem;
      top: 3.8rem;
      font-size: 2rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      padding: 1.3rem 2.8rem;
      cursor: pointer;
      white-space: nowrap;
      box-sizing: border-box;
      letter-spacing: 0.02rem;
    }
    .item--Zb9 {
      font-family: Montserrat, 'Source Sans Pro';
      cursor: pointer;
      left: 93rem;
      font-size: 2rem;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      width: 19rem;
      position: absolute;
      top: 3.8rem;
      color: #ffffff;
      justify-content: center;
      height: 5.1rem;
      font-weight: 500;
    }
    .item--dqu {
      width: 192rem;
      height: 13.6rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .navigator-XgP {
      position: absolute;
      left: 173.8rem;
      top: 4.8rem;
      width: 6.24rem;
      height: 3.9rem;
      cursor: pointer;

      .rectangle-7-FsH {
        margin-bottom: 0.82rem;
        width: 100%;
        height: 0.78rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
      .rectangle-8-bAT {
        background-color: #fffdfd;
        border-radius: 1rem;
        margin-bottom: 0.82rem;
        width: 4.5rem;
        height: 0.7rem;
      }
      .rectangle-9-iks {
        width: 100%;
        height: 0.78rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
    }
  }
}
