
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--xzX {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:fd95257d2007ac4b6dbf43e4e433f2f24a217a06');
  background-color: #ffffff;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;

  .rectangle-5-Ex3 {
    border-radius: 44.64rem 38.755rem 41.72rem 40rem;
    width: 61.5rem;
    left: 16.5rem;
    border: solid 0 #ffffff;
    overflow: hidden;
    box-sizing: border-box;
    height: 57.2rem;
    position: absolute;
    top: 53.5rem;

    .property-1default-y8w {
      width: 100%;
      height: 54.8rem;
      cursor: pointer;
      border-radius: 29.3rem 29.245rem 29.3rem 29.3rem;
    }
  }
  .txt1-aeX {
    left: 47.1rem;
    font-size: 4rem;
    height: 3.4rem;
    line-height: 0.625;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 4rem;
    cursor: pointer;
    position: absolute;
    letter-spacing: 0.04rem;
    font-family: Playfair Display, 'Source Sans Pro';
    box-sizing: border-box;
    top: 44.5rem;
    font-weight: 900;
    color: #ffffff;
    width: 9.6rem;
  }
  .txt2-A6w {
    width: 22.7rem;
    cursor: pointer;
    overflow: hidden;
    font-size: 4rem;
    font-weight: 900;
    font-family: Playfair Display, 'Source Sans Pro';
    white-space: nowrap;
    padding-top: 2.8rem;
    color: #ffffff;
    top: 49.7rem;
    line-height: 0.625;
    letter-spacing: 0.04rem;
    box-sizing: border-box;
    height: 3.4rem;
    position: absolute;
    left: 61.8rem;
  }
  .txt3-zbm {
    padding-top: 3.4rem;
    white-space: nowrap;
    line-height: 0.625;
    width: 9.4rem;
    position: absolute;
    overflow: hidden;
    font-size: 4rem;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Playfair Display, 'Source Sans Pro';
    font-weight: 900;
    letter-spacing: 0.04rem;
    height: 3.2rem;
    cursor: pointer;
    left: 91.9rem;
    top: 45.3rem;
  }
  .txt4-UWw {
    cursor: pointer;
    top: 51.4rem;
    overflow: hidden;
    font-size: 4rem;
    letter-spacing: 0.04rem;
    color: #ffffff;
    padding: 2.4rem 0rem 0rem 0.1rem;
    position: absolute;
    box-sizing: border-box;
    white-space: nowrap;
    height: 3.1rem;
    left: 105rem;
    font-weight: 900;
    line-height: 0.625;
    font-family: Playfair Display, 'Source Sans Pro';
    width: 10.5rem;
  }
  .txt5-xS7 {
    top: 48.3rem;
    font-family: Playfair Display, 'Source Sans Pro';
    box-sizing: border-box;
    letter-spacing: 0.04rem;
    color: #ffffff;
    white-space: nowrap;
    padding-top: 2.5rem;
    width: 29.9rem;
    height: 3.2rem;
    cursor: pointer;
    position: absolute;
    font-weight: 900;
    left: 128.1rem;
    overflow: hidden;
    font-size: 4rem;
    line-height: 0.625;
  }
}
