
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--Foq {
  width: 100%;
  height: 500rem;
  position: relative;
  overflow: hidden;
  background-color: #270b0b;

  .item--M6B {
    vertical-align: top;
    width: 192rem;
    height: 128rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .item--sqD {
    position: absolute;
    left: 0;
    top: 118rem;
    object-fit: cover;
    vertical-align: top;
    width: 192rem;
    height: 128rem;
  }
  .item--zuq {
    left: 0;
    top: 107.2rem;
    background: linear-gradient(0deg, #dae4f2 50%, rgba(192, 208, 233, 0) 123.53%);
    width: 192rem;
    height: 13.6rem;
    position: absolute;
  }
  .bildboard-2Lj {
    padding: 3.7rem 7.9rem 4.2rem 6.8rem;
    width: 89.8rem;
    height: 37.9rem;
    position: absolute;
    left: 7.8rem;
    box-sizing: border-box;
    top: 32.4rem;
    background-color: rgba(38, 74, 90, 0.8000000119);
    border-radius: 3.7rem;

    .mercedes-benz-the-best-or-nothing-Kqd {
      letter-spacing: 0.09rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      max-width: 75.1rem;
      font-size: 9rem;
      font-weight: 800;
      line-height: 1.1111111111;
    }
  }
  .footer-nUK {
    padding: 17.9rem 11.9rem 11.9rem 12.1rem;
    width: 192rem;
    top: 442rem;
    background-color: #1a1a3c;
    box-sizing: border-box;
    height: 58rem;
    position: absolute;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-hbmd-Uc3 {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 100%;
      height: 19.7rem;
      display: flex;

      .auto-group-hvd1-16B {
        box-sizing: border-box;
        padding-right: 7.1rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .blockinfo1-K6s {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 7.2rem;
          width: 51.2rem;
          align-items: center;

          .item--Rfh {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            color: #ffffff;
            margin: 0rem 0rem 0.4rem 1.3rem;
            font-size: 3rem;
            font-weight: 600;
          }
          .line-2-P8f {
            width: 100%;
            height: 0.3rem;
            background-color: #abaacc;
            flex-shrink: 0;
            margin-bottom: 2.9rem;
          }
          .item--KHD {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 9.1rem;
            row-gap: 1.4rem;

            .text1-DdV {
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
            }
            .text2-k7d {
              line-height: 1.2175;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 0.1rem;
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.024rem;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text3-Tnj {
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
            }
          }
        }
        .blockinfo2-CEX {
          width: 51.2rem;
          flex-shrink: 0;

          .item--M7R {
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.4rem 13.6rem;
          }
          .line-2-ecK {
            width: 100%;
            height: 0.3rem;
            background-color: #abaacc;
            margin-bottom: 2.3rem;
          }
          .item--1By {
            row-gap: 1.4rem;
            display: flex;
            flex-direction: column;

            .text1-k9Z {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
            }
            .text2-HQP {
              font-size: 2.4rem;
              font-weight: 400;
              margin-left: 0.1rem;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.2175;
            }
            .text3-CnF {
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
          }
        }
      }
      .blockinfo3-LdZ {
        width: 51.3rem;
        height: 100%;
        flex-shrink: 0;

        .item--Hoh {
          letter-spacing: 0.03rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.4rem 8.7rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2175;
        }
        .line-2-oGF {
          margin: 0rem 0rem 3.1rem 0.1rem;
          width: 51.2rem;
          height: 0.3rem;
          background-color: #abaacc;
        }
        .auto-group-kz6p-j9u {
          display: flex;
          align-items: center;
          margin-right: 16.1rem;
          width: calc(100% - 16.1rem);
          height: 12.2rem;

          .item--TLo {
            margin-right: 2rem;
            height: 100%;
            row-gap: 1rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .mask-group-PVM {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
            }
            .mask-group-XbZ {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
            }
            .mask-group-gUT {
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item--EVy {
            margin: 0.1rem 0rem 0.3rem 0rem;
            height: calc(100% - 0.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .instagram-A8j {
              font-weight: 400;
              letter-spacing: 0.024rem;
              flex-shrink: 0;
              margin-bottom: 1.3rem;
              font-size: 2.4rem;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .telegram-soq {
              margin: 0rem 0rem 1.5rem 0.1rem;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.024rem;
              color: #ffffff;
            }
            .mail-C5R {
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .item--ipT {
      flex-shrink: 0;
      margin-bottom: 3.9rem;
      width: 100%;
      height: 0.3rem;
      background-color: #abaacc;
    }
    .auto-group-abgf-dAj {
      width: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.5rem 0rem 0.1rem;

      .item-2023--mGw {
        white-space: nowrap;
        margin-right: 60.8rem;
        letter-spacing: 0.015rem;
        font-family: Montserrat, 'Source Sans Pro';
        color: #ffffff;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2175;
      }
      .item--r3V {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.015rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
  }
  .item--14o {
    background: linear-gradient(180deg, rgba(182, 199, 227, 0.6499999762) 50%, rgba(26, 26, 60, 0.6499999762) 90.05%);
    width: 192rem;
    height: 20.3rem;
    position: absolute;
    left: 0;
    top: 233.2rem;
  }
  .rate-and-review-us-1-qJj {
    width: 449.2043rem;
    height: 196rem;
    position: absolute;
    left: 0;
    top: 246rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-31-ZVd {
    top: 242rem;
    background: linear-gradient(180deg, #afc4df -0%, rgba(217, 217, 217, 0) 100%);
    width: 192rem;
    height: 29.1rem;
    position: absolute;
    left: 0;
  }
  .item--HAj {
    vertical-align: top;
    width: 192rem;
    height: 50.7rem;
    position: absolute;
    left: 0.4rem;
    top: 233.2rem;
    object-fit: contain;
  }
  .item--CYb {
    border-radius: 11.4rem;
    width: 177.1rem;
    position: absolute;
    top: 83.7rem;
    display: flex;
    background-color: rgba(209, 218, 230, 0.5500000119);
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 6.5rem 4.9rem 26.1rem 4.1rem;
    height: 172rem;
    left: 7.8rem;
    align-items: center;

    .mercedes-benz-4qh {
      font-weight: 400;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.6rem 6rem 0rem;
      font-size: 9rem;
      letter-spacing: 0.09rem;
      color: #070707;
    }
    .item--ZnT {
      width: 100%;
      height: 122.4rem;
      position: relative;
      border-radius: 3rem;
      flex-shrink: 0;

      .item-1-73H {
        height: 54.7rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
        background-color: rgba(217, 217, 217, 0.5);
        border-radius: 3rem;
        width: 54.7rem;
      }
      .item-4-Qo5 {
        height: 54.7rem;
        position: absolute;
        left: 0;
        top: 67.7rem;
        box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
        background-color: rgba(217, 217, 217, 0.5);
        border-radius: 3rem;
        width: 54.7rem;
      }
      .item-2-j4f {
        border-radius: 3rem;
        width: 54.7rem;
        height: 54.7rem;
        position: absolute;
        left: 56.8rem;
        top: 0;
        box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
        background-color: rgba(217, 217, 217, 0.5);
      }
      .item-5-FHu {
        border-radius: 3rem;
        width: 54.7rem;
        height: 54.7rem;
        position: absolute;
        left: 56.7rem;
        top: 67.7rem;
        box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
        background-color: rgba(217, 217, 217, 0.5);
      }
      .item-3-Vxw {
        top: 0;
        box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
        background-color: rgba(217, 217, 217, 0.5);
        border-radius: 3rem;
        width: 54.7rem;
        height: 54.7rem;
        position: absolute;
        left: 113.4rem;
      }
      .item-6-pkK {
        position: absolute;
        left: 113.3rem;
        top: 67.7rem;
        box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5));
        background-color: rgba(217, 217, 217, 0.5);
        border-radius: 3rem;
        width: 54.7rem;
        height: 54.7rem;
      }
      .item--jcP {
        left: 3rem;
        top: 3rem;
        display: flex;
        align-items: center;
        width: 125.8rem;
        height: 72.8rem;
        position: absolute;

        .auto-group-v4np-Fqd {
          margin-right: 44rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .a-class-ocF {
            letter-spacing: 0.04rem;
            font-family: KoPub Batang, 'Source Sans Pro';
            margin-bottom: 62.6rem;
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .g-class-jVu {
            letter-spacing: 0.04rem;
            color: #000000;
            font-family: KoPub Batang, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.2575;
          }
        }
        .auto-group-fcj7-4o5 {
          margin-right: 44.1rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .c-class-Qc3 {
            margin: 0rem 0rem 62.6rem 0.1rem;
            letter-spacing: 0.04rem;
            font-family: KoPub Batang, 'Source Sans Pro';
            flex-shrink: 0;
            white-space: nowrap;
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
          }
          .s-class-iMq {
            font-size: 4rem;
            color: #000000;
            font-family: KoPub Batang, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.04rem;
            white-space: nowrap;
          }
        }
        .auto-group-9xsm-39D {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .e-class-bgX {
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.04rem;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 62.6rem 0.1rem;
            color: #000000;
            font-family: KoPub Batang, 'Source Sans Pro';
          }
          .v-class-vD1 {
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.04rem;
            color: #000000;
            font-family: KoPub Batang, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4rem;
          }
        }
      }
      .item--TTq {
        align-items: center;
        width: 161.1rem;
        height: 97.5rem;
        position: absolute;
        left: 3.1rem;
        top: 12.5rem;
        display: flex;

        .auto-group-tdyo-NKu {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 9rem;
          height: 100%;
          align-items: center;

          .item-1-Kkw {
            height: 29.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 37.9rem;
            width: 47.7rem;
          }
          .g-1-qzB {
            flex-shrink: 0;
            width: 47.7rem;
            height: 29.8rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-vyh5-C43 {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 8.8rem;

          .item-1-9EB {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 37.9rem 0.1rem;
            width: 47.7rem;
            height: 29.8rem;
          }
          .s-1-ewd {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.1rem;
            width: 47.7rem;
            height: 29.8rem;
          }
        }
        .auto-group-bjgf-CCT {
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          display: flex;

          .item-1-9tP {
            margin: 0rem 0rem 37.9rem 0.1rem;
            width: 47.7rem;
            height: 29.8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .v-1-5n3 {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.1rem;
            width: 47.7rem;
            height: 29.8rem;
          }
        }
      }
      .holes-RL7 {
        position: absolute;
        left: 49.2rem;
        top: 2.2rem;
        display: flex;
        align-items: center;
        border-radius: 3rem;
        width: 117.4rem;
        height: 118.7rem;

        .auto-group-9axm-YvX {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 52.6rem;
          height: 100%;

          .dot-tzP {
            flex-direction: column;
            box-sizing: border-box;
            padding-bottom: 0.7rem;
            align-items: center;
            display: flex;
            border-radius: 3rem;
            flex-shrink: 0;
            margin: 0rem 0.1rem 16.7rem 0rem;
            width: 4rem;

            .rectangle-22-pd9 {
              margin-bottom: 7rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem #000000);
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
            }
            .rectangle-23-LrP {
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 20.3rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
            }
            .rectangle-21-fNs {
              flex-shrink: 0;
              margin-bottom: 7rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
            }
            .rectangle-20-C7u {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
            }
          }
          .dot-WPV {
            flex-direction: column;
            border-radius: 3rem;
            margin-left: 0.1rem;
            box-sizing: border-box;
            padding-bottom: 0.7rem;
            width: 4rem;
            align-items: center;
            display: flex;
            flex-shrink: 0;

            .rectangle-22-3PR {
              margin-bottom: 7rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem #000000);
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
            }
            .rectangle-23-Ayq {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 20.3rem;
            }
            .rectangle-21-uAj {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 7rem;
            }
            .rectangle-20-dMd {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-928s-x91 {
          margin-right: 52.5rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .dot-hsH {
            box-sizing: border-box;
            padding-bottom: 0.7rem;
            width: 4rem;
            display: flex;
            border-radius: 3rem;
            margin: 0rem 0.1rem 16.7rem 0rem;
            align-items: center;
            flex-direction: column;
            flex-shrink: 0;

            .rectangle-22-qTh {
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 7rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem #000000);
            }
            .rectangle-23-8hh {
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 20.3rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
            }
            .rectangle-21-q6K {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 7rem;
            }
            .rectangle-20-Wy9 {
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              width: 100%;
            }
          }
          .dot-1uu {
            margin-left: 0.1rem;
            box-sizing: border-box;
            padding-bottom: 0.7rem;
            flex-direction: column;
            border-radius: 3rem;
            flex-shrink: 0;
            width: 4rem;
            align-items: center;
            display: flex;

            .rectangle-22-iZR {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem #000000);
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 7rem;
            }
            .rectangle-23-qP9 {
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 20.3rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
            }
            .rectangle-21-xTm {
              margin-bottom: 7rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
            }
            .rectangle-20-Uwu {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-nvhm-1B9 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .dot-9o9 {
            flex-direction: column;
            border-radius: 3rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.7rem;
            width: 4rem;
            align-items: center;
            display: flex;
            margin: 0rem 0.1rem 16.7rem 0rem;

            .rectangle-22-5Ru {
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 7rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem #000000);
              background-color: #aabed9;
            }
            .rectangle-23-cAw {
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 20.3rem;
              width: 100%;
              height: 4rem;
            }
            .rectangle-21-vxK {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 7rem;
            }
            .rectangle-20-TxF {
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              width: 100%;
            }
          }
          .dot-yvb {
            width: 4rem;
            border-radius: 3rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-left: 0.1rem;
            box-sizing: border-box;
            padding-bottom: 0.7rem;

            .rectangle-22-KjZ {
              flex-shrink: 0;
              margin-bottom: 7rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem #000000);
              background-color: #aabed9;
              border-radius: 3rem;
            }
            .rectangle-23-f2j {
              margin-bottom: 20.3rem;
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
            }
            .rectangle-21-Zdu {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.75));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 7rem;
            }
            .rectangle-20-VGf {
              width: 100%;
              height: 4rem;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5));
              background-color: #aabed9;
              border-radius: 3rem;
              flex-shrink: 0;
            }
          }
        }
      }
      .item--BfH {
        position: absolute;
        left: 0;
        top: 42.488rem;
        display: flex;
        align-items: center;
        width: 139.8rem;
        height: 73.212rem;

        .auto-group-wo55-UeP {
          margin-right: 30.4rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--RZd {
            flex-shrink: 0;
            margin: 0rem 0rem 62.188rem 0.1rem;
            width: 26.3rem;
            height: 5.512rem;
            cursor: pointer;
            position: relative;

            .buttona-XMm {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #000000;
              border-radius: 0 1rem 1rem 0;
              width: 26.3rem;
              height: 5.2rem;
            }
            .item--46o {
              height: 4.8rem;
              position: absolute;
              line-height: 1.4775;
              letter-spacing: 0.032rem;
              white-space: nowrap;
              font-family: Kurale, 'Source Sans Pro';
              width: 18.9rem;
              left: 5.2rem;
              top: 0.212rem;
              font-size: 3.2rem;
              font-weight: 400;
              color: #74d9d3;
            }
          }
          .item--Xm5 {
            width: 26.3rem;
            height: 5.512rem;
            cursor: pointer;
            position: relative;
            flex-shrink: 0;
            margin-right: 0.1rem;

            .buttona-GCs {
              width: 26.3rem;
              height: 5.2rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #000000;
              border-radius: 0 1rem 1rem 0;
            }
            .item--PoH {
              top: 0.212rem;
              font-size: 3.2rem;
              line-height: 1.4775;
              white-space: nowrap;
              height: 4.8rem;
              position: absolute;
              left: 5.2rem;
              font-weight: 400;
              letter-spacing: 0.032rem;
              color: #74d9d3;
              font-family: Kurale, 'Source Sans Pro';
              width: 18.9rem;
            }
          }
        }
        .auto-group-7x15-Upj {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 30.2rem;
          width: 26.3rem;

          .item--DnK {
            margin-bottom: 62.188rem;
            width: 100%;
            height: 5.512rem;
            cursor: pointer;
            position: relative;
            flex-shrink: 0;

            .buttona-Mdd {
              height: 5.2rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #000000;
              border-radius: 0 1rem 1rem 0;
              width: 26.3rem;
            }
            .item--6r7 {
              white-space: nowrap;
              height: 4.8rem;
              position: absolute;
              font-size: 3.2rem;
              font-weight: 400;
              letter-spacing: 0.032rem;
              color: #74d9d3;
              width: 18.9rem;
              left: 5.2rem;
              top: 0.212rem;
              line-height: 1.4775;
              font-family: Kurale, 'Source Sans Pro';
            }
          }
          .item--amH {
            height: 5.512rem;
            cursor: pointer;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .buttona-KTy {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #000000;
              border-radius: 0 1rem 1rem 0;
              width: 26.3rem;
              height: 5.2rem;
            }
            .item--FcX {
              font-size: 3.2rem;
              font-weight: 400;
              font-family: Kurale, 'Source Sans Pro';
              white-space: nowrap;
              top: 0.212rem;
              line-height: 1.4775;
              letter-spacing: 0.032rem;
              color: #74d9d3;
              width: 18.9rem;
              height: 4.8rem;
              position: absolute;
              left: 5.2rem;
            }
          }
        }
        .auto-group-mr3m-YLj {
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          display: flex;

          .item--uBH {
            margin: 0rem 0rem 62.188rem 0.2rem;
            width: 26.3rem;
            height: 5.512rem;
            cursor: pointer;
            position: relative;
            flex-shrink: 0;

            .buttona-2Fu {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #000000;
              border-radius: 0 1rem 1rem 0;
              width: 26.3rem;
              height: 5.2rem;
            }
            .item--snK {
              line-height: 1.4775;
              letter-spacing: 0.032rem;
              color: #74d9d3;
              width: 18.9rem;
              height: 4.8rem;
              font-size: 3.2rem;
              font-weight: 400;
              white-space: nowrap;
              position: absolute;
              left: 5.2rem;
              top: 0.212rem;
              font-family: Kurale, 'Source Sans Pro';
            }
          }
          .item--LpK {
            flex-shrink: 0;
            margin-right: 0.2rem;
            width: 26.3rem;
            height: 5.512rem;
            cursor: pointer;
            position: relative;

            .buttona-GT5 {
              top: 0;
              background-color: #000000;
              border-radius: 0 1rem 1rem 0;
              width: 26.3rem;
              height: 5.2rem;
              position: absolute;
              left: 0;
            }
            .item--CrX {
              position: absolute;
              left: 5.2rem;
              font-weight: 400;
              line-height: 1.4775;
              letter-spacing: 0.032rem;
              white-space: nowrap;
              width: 18.9rem;
              top: 0.212rem;
              font-size: 3.2rem;
              color: #74d9d3;
              font-family: Kurale, 'Source Sans Pro';
              height: 4.8rem;
            }
          }
        }
      }
      .item--gmh {
        align-items: center;
        width: 158.6rem;
        height: 70.7rem;
        position: absolute;
        left: 2rem;
        top: 49.5rem;
        display: flex;

        .auto-group-ant3-BTZ {
          width: 56.7rem;
          height: 100%;
          flex-shrink: 0;

          .item--LbM {
            display: flex;
            align-items: center;
            margin: 0rem 0rem 64.7rem 0.1rem;
            height: 3rem;

            .rectangle-26-eM9 {
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-2-nTM {
              box-sizing: border-box;
              padding: 0rem 7.85rem 0rem 9.65rem;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              flex-shrink: 0;

              .item--v3m {
                background-color: #60ff00;
                border-radius: 0.7rem;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 1.4rem;
                height: 1.4rem;
              }
              .item--odM {
                font-weight: 400;
                line-height: 1.4775;
                letter-spacing: 0.02rem;
                color: #000000;
                font-family: Kurale, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
              }
            }
            .rectangle-25-hij {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.1rem;
              height: 3rem;
            }
          }
          .item--SRR {
            height: 3rem;
            display: flex;
            align-items: center;

            .rectangle-26-MYP {
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-2-WAP {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0rem 7.85rem 0rem 9.65rem;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #ffffff;

              .item--Es5 {
                margin-right: 1rem;
                width: 1.4rem;
                height: 1.4rem;
                background-color: #fe0000;
                border-radius: 0.7rem;
                flex-shrink: 0;
              }
              .item--vzo {
                font-weight: 400;
                line-height: 1.4775;
                letter-spacing: 0.02rem;
                color: #000000;
                font-family: Kurale, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
              }
            }
            .rectangle-25-qby {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.1rem;
            }
          }
        }
        .auto-group-pbuw-aZZ {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 11.4rem;
          height: 100%;

          .item--urj {
            flex-shrink: 0;
            margin: 0rem 0rem 64.7rem 0.1rem;
            height: 3rem;
            display: flex;
            align-items: center;

            .rectangle-26-cWF {
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-2-mP9 {
              padding: 0rem 7.85rem 0rem 9.65rem;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;

              .item--ukF {
                width: 1.4rem;
                height: 1.4rem;
                background-color: #60ff00;
                border-radius: 0.7rem;
                flex-shrink: 0;
                margin-right: 1rem;
              }
              .item--c8s {
                letter-spacing: 0.02rem;
                color: #000000;
                font-family: Kurale, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4775;
              }
            }
            .rectangle-25-utf {
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item--3zs {
            margin-right: 0.1rem;
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .rectangle-26-NGT {
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-2-XQF {
              padding: 0rem 7.85rem 0rem 9.65rem;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;

              .item--UKV {
                flex-shrink: 0;
                margin-right: 1rem;
                width: 1.4rem;
                height: 1.4rem;
                background-color: #60ff00;
                border-radius: 0.7rem;
              }
              .item--a7d {
                color: #000000;
                font-family: Kurale, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4775;
                letter-spacing: 0.02rem;
              }
            }
            .rectangle-25-Gm9 {
              vertical-align: top;
              flex-shrink: 0;
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
            }
          }
        }
        .auto-group-3pxu-cq1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          align-items: center;

          .item--aG3 {
            margin: 0rem 0rem 64.7rem 0.2rem;
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .rectangle-26-UsD {
              flex-shrink: 0;
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .frame-2-EbV {
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0rem 7.85rem 0rem 9.65rem;
              height: 100%;
              display: flex;
              align-items: center;

              .item--yoy {
                margin-right: 1rem;
                width: 1.4rem;
                height: 1.4rem;
                background-color: #fe0000;
                border-radius: 0.7rem;
                flex-shrink: 0;
              }
              .item--UVq {
                font-family: Kurale, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4775;
                letter-spacing: 0.02rem;
                color: #000000;
              }
            }
            .rectangle-25-BQF {
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item--8aP {
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.2rem;

            .rectangle-26-Ff1 {
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .frame-2-QXu {
              padding: 0rem 7.85rem 0rem 9.65rem;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;

              .item--kLs {
                background-color: #fe0000;
                border-radius: 0.7rem;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 1.4rem;
                height: 1.4rem;
              }
              .item--Emq {
                color: #000000;
                font-family: Kurale, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.4775;
                letter-spacing: 0.02rem;
              }
            }
            .rectangle-25-LZy {
              width: 2.1rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .blocker-Ddm {
    top: 393.5678rem;
    display: flex;
    align-items: center;
    width: 198.2996rem;
    height: 91.0683rem;
    position: absolute;
    left: 0;

    .blocker-A3D {
      width: 90.6965rem;
      height: 90.6965rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.372rem 16.907rem 0rem 0rem;
    }
    .blocker-g1Z {
      margin-bottom: 0.3718rem;
      width: 90.6965rem;
      height: 90.6965rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .item--cA7 {
    top: 274.2rem;
    background-color: rgba(209, 218, 230, 0.5500000119);
    border-radius: 11.4rem;
    box-sizing: border-box;
    width: 177.1rem;
    height: 183.4rem;
    left: 7.5rem;
    padding: 11.7rem 12.2rem 19.3rem 13.2rem;
    position: absolute;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .item--5ZV {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .auto-group-nd1d-1xw {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 0rem 8.1rem 1.7rem;
        width: 100%;
        align-items: center;

        .auto-group-5ndh-9pF {
          margin: 0rem 21.3rem 0.5rem 53.3rem;
          color: #070707;
          font-family: Montserrat, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.2175;
          letter-spacing: 0.09rem;
          white-space: nowrap;
          box-sizing: border-box;
          padding-top: 0.8rem;
          width: calc(100% - 74.6rem);
          font-size: 9rem;
          flex-shrink: 0;
        }
        .rectangle-30-dDd {
          height: 1.5rem;
          background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
          flex-shrink: 0;
          width: 100%;
        }
      }
      .auto-group-1l4k-uS3 {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 15.2rem;
        width: 100%;
        height: 63.3rem;
        display: flex;

        .item-1-r6P {
          padding-bottom: 3.164rem;
          width: 60rem;
          display: flex;
          background: linear-gradient(180deg, rgba(67, 159, 207, 0.6499999762) -0%, rgba(7, 44, 62, 0.6499999762) 100%);
          flex-shrink: 0;
          margin-right: 31.6rem;
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          flex-direction: column;
          border-radius: 2.5rem;

          .auto-group-ybkq-kxT {
            box-sizing: border-box;
            padding: 1.772rem 21.1rem 1.456rem 21.6rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item--tYs {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.6581rem;
              width: 17.3rem;
              height: 16.8475rem;
              object-fit: contain;
            }
            .item--cjm {
              color: #ffffff;
              margin-right: 0.2rem;
              font-size: 3.2rem;
              font-weight: 400;
              letter-spacing: 0.032rem;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item--ino {
            margin-bottom: 1.8555rem;
            width: 100%;
            height: 1.4608rem;
            background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            flex-shrink: 0;
          }
          .png-transparent-five-stars-stars-feedback-review-yellow-thumbnail-1-traced-DzT {
            width: 22rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 2.1582rem;
          }
          .auto-group-ksd9-w9m {
            background-color: rgba(101, 159, 191, 0.6499999762);
            border-radius: 2.5rem;
            flex-shrink: 0;
            margin: 0rem 5rem 0rem 5.2rem;
            box-sizing: border-box;
            width: calc(100% - 10.2rem);
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            padding: 3.158rem 0.55rem 3.158rem 2.45rem;
            height: 25.0278rem;

            .item--dYP {
              text-align: center;
              font-size: 2.6rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.026rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              max-width: 46.8rem;
            }
          }
        }
        .item-2-dwh {
          position: relative;
          flex-shrink: 0;
          width: 60.1rem;
          height: 100%;

          .rectangle-32-xyy {
            background: linear-gradient(180deg, rgba(67, 159, 207, 0.6499999762) -0%, rgba(7, 44, 62, 0.6499999762) 100%);
            border-radius: 2.5rem;
            width: 60rem;
            height: 63.3rem;
            position: absolute;
            left: 0.1rem;
            top: 0;
          }
          .item--UBd {
            position: absolute;
            left: 20.2rem;
            top: 20.6rem;
            font-size: 3.2rem;
            font-family: Montserrat, 'Source Sans Pro';
            height: 3.9rem;
            font-weight: 400;
            line-height: 1.2175;
            letter-spacing: 0.032rem;
            color: #ffffff;
            white-space: nowrap;
            width: 19.9rem;
          }
          .item--LzX {
            position: absolute;
            background-position: center;
            background-image: url('REPLACE_IMAGE:1b4053eda5ff0065c24d9c1d1f883043ab6ce8a2');
            width: 17.3rem;
            height: 17.3rem;
            left: 21.4rem;
            top: 1.7rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 8.65rem;
          }
          .item--3P9 {
            background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            width: 60rem;
            height: 1.5rem;
            position: absolute;
            left: 0;
            top: 26.1rem;
          }
          .item--Y51 {
            border-radius: 2.5rem;
            width: 49.8rem;
            height: 25.7rem;
            position: absolute;
            left: 5.3rem;
            top: 35.5rem;
            box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
            background-color: rgba(101, 159, 191, 0.6499999762);
          }
          .item--poD {
            width: 48rem;
            height: 12.7rem;
            position: absolute;
            left: 6.15rem;
            text-align: center;
            letter-spacing: 0.026rem;
            font-family: Montserrat, 'Source Sans Pro';
            top: 38.7rem;
            font-size: 2.6rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #ffffff;
          }
          .png-transparent-five-stars-stars-feedback-review-yellow-thumbnail-1-traced-hs1 {
            width: 22rem;
            height: 4rem;
            position: absolute;
            left: 19.1rem;
            top: 29.4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .item--cUB {
        display: flex;
        background: linear-gradient(180deg, rgba(67, 159, 207, 0.6499999762) -0%, rgba(7, 44, 62, 0.6499999762) 100%);
        border-radius: 2.5rem;
        flex-shrink: 0;
        margin: 0rem 4.7rem 0rem 3.2rem;
        box-sizing: border-box;
        padding: 2.8rem 7rem;
        width: calc(100% - 7.9rem);
        height: 52rem;
        align-items: center;

        .auto-group-oexk-5sZ {
          margin: 3.9rem 3.9rem 5.6rem 0rem;
          width: 30rem;
          height: calc(100% - 9.5rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--CSP {
            width: calc(100% - 15rem);
            background-color: #d9d9d9;
            border-radius: 7.5rem;
            flex-shrink: 0;
            margin: 0rem 8.2rem 1.8rem 6.8rem;
            box-sizing: border-box;
            padding: 1.1rem 1.2rem 1.1rem 1rem;

            .item-2102081-1-t4K {
              object-fit: cover;
              vertical-align: top;
              width: 12.8rem;
              height: 12.8rem;
            }
          }
          .component-63-Cao {
            padding: 1.3rem 1.4rem 1.2rem 1.4rem;
            width: 100%;
            flex-shrink: 0;
            box-sizing: border-box;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 0.02rem;
            margin-bottom: 2.6rem;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            cursor: pointer;
            line-height: 1.2175;
            white-space: nowrap;
            border: solid 0.2rem #000000;
          }
          .item--Sk3 {
            height: 3.9672rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.774rem 4.033rem 0rem;
            width: 21.0264rem;
          }
          .frame-4-jUF {
            position: relative;
            font-weight: 500;
            white-space: nowrap;
            display: flex;
            align-items: center;
            width: calc(100% - 9.1rem);
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            justify-content: center;
            background-color: #1a1a3c;
            border-radius: 2.2rem;
            overflow: hidden;
            margin: 0rem 4.5rem 0rem 4.6rem;
            height: 4.5rem;
            cursor: pointer;
            font-size: 1.7rem;
            line-height: 1.2175;
            letter-spacing: 0.017rem;
            flex-shrink: 0;
          }
        }
        .auto-group-yxrd-P31 {
          margin-bottom: 4.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--7zb {
            line-height: 1.2175;
            letter-spacing: 0.064rem;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 6.4rem;
            font-weight: 400;
          }
          .auto-group-x4gt-2rf {
            position: relative;
            flex-shrink: 0;
            margin-left: 18.1rem;
            width: 77.8rem;
            height: 33.9rem;

            .item--a7V {
              top: 2.4rem;
              box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
              background-color: rgba(101, 159, 191, 0.6499999762);
              border-radius: 2.5rem;
              width: 77.8rem;
              height: 31.5rem;
              position: absolute;
              left: 0;
            }
            .item--fPq {
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              height: 2.5rem;
              position: absolute;
              line-height: 1.2175;
              font-size: 2rem;
              font-weight: 400;
              letter-spacing: 0.02rem;
              white-space: nowrap;
              width: 1.7rem;
              left: 4.8rem;
              top: 0;
            }
            .item--y9d {
              width: 26.5rem;
              position: absolute;
              font-size: 1.8rem;
              font-weight: 400;
              font-family: Montserrat, 'Source Sans Pro';
              height: 2.2rem;
              left: 3.6rem;
              top: 4.6rem;
              line-height: 1.2175;
              letter-spacing: 0.018rem;
              color: #373535;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .frame-3-7v3 {
    overflow: hidden;
    display: flex;
    background-color: rgba(26, 26, 60, 0.6999999881);
    cursor: pointer;
    left: 12rem;
    font-weight: 500;
    font-family: Montserrat, 'Source Sans Pro';
    align-items: center;
    border-radius: 2.2rem;
    height: 4.5rem;
    position: absolute;
    top: 72.8rem;
    white-space: nowrap;
    justify-content: center;
    width: 26.3rem;
    font-size: 1.7rem;
    line-height: 1.2175;
    letter-spacing: 0.017rem;
    color: #ffffff;
  }
  .header-Nb5 {
    left: 0;
    top: 0;
    background-color: rgba(0, 39, 44, 0.400000006);
    width: 192rem;
    height: 13.7rem;
    position: absolute;

    .mb-starnweb-1-GgT {
      left: 12rem;
      top: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.8rem;
      height: 8.8rem;
      position: absolute;
    }
    .item--zsM {
      position: absolute;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      box-sizing: border-box;
      width: 19rem;
      height: 5.1rem;
      cursor: pointer;
      top: 3.9rem;
      white-space: nowrap;
      padding: 1.3rem 2.8rem;
      letter-spacing: 0.02rem;
      left: 112.5rem;
      color: #ffffff;
    }
    .item--4MR {
      position: absolute;
      font-family: Montserrat, 'Source Sans Pro';
      cursor: pointer;
      line-height: 1.2175;
      top: 3.9rem;
      font-weight: 500;
      letter-spacing: 0.02rem;
      white-space: nowrap;
      width: 19rem;
      left: 127.5rem;
      height: 5.1rem;
      font-size: 2rem;
      color: #ffffff;
      box-sizing: border-box;
      padding: 1.3rem 2.8rem;
    }
    .item--WUK {
      top: 3.9rem;
      font-weight: 500;
      letter-spacing: 0.02rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      cursor: pointer;
      left: 142.5rem;
      line-height: 1.2175;
      height: 5.1rem;
      position: absolute;
      font-size: 2rem;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.3rem 2.8rem;
      width: 19rem;
    }
    .item--NmR {
      justify-content: center;
      display: flex;
      top: 3.9rem;
      width: 19rem;
      left: 93rem;
      letter-spacing: 0.02rem;
      font-family: Montserrat, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      height: 5.1rem;
    }
    .item--eD9 {
      position: absolute;
      left: 0;
      top: 0.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 192rem;
      height: 13.6rem;
    }
    .navigator-k1H {
      cursor: pointer;
      position: absolute;
      left: 173.8rem;
      top: 4.9rem;
      width: 6.24rem;
      height: 3.9rem;

      .rectangle-7-sLo {
        margin-bottom: 0.82rem;
        width: 100%;
        height: 0.78rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
      .rectangle-8-c3V {
        margin-bottom: 0.82rem;
        width: 4.5rem;
        height: 0.7rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
      .rectangle-9-wbZ {
        width: 100%;
        height: 0.78rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
    }
  }
}
