
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.alert-JwV {
  width: 100%;
  height: 258.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .footer-cSP {
    flex-direction: column;
    background-color: #1a1a3c;
    box-sizing: border-box;
    height: 58rem;
    left: 0;
    align-items: center;
    display: flex;
    padding: 17.9rem 11.9rem 11.9rem 12.1rem;
    width: 192rem;
    position: absolute;
    top: 200.1rem;

    .auto-group-jrjm-W1y {
      height: 19.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 100%;

      .auto-group-pni7-qa3 {
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 7.1rem;
        height: 100%;
        display: flex;

        .blockinfo1-B87 {
          width: 51.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 7.2rem;

          .item--i83 {
            margin: 0rem 0rem 0.4rem 1.3rem;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .line-2-n7u {
            width: 100%;
            height: 0.3rem;
            background-color: #abaacc;
            flex-shrink: 0;
            margin-bottom: 2.9rem;
          }
          .item--Kdd {
            row-gap: 1.4rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 9.1rem;

            .text1-FXH {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text2-yy5 {
              margin-left: 0.1rem;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text3-WTD {
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
            }
          }
        }
        .blockinfo2-3CF {
          width: 51.2rem;
          flex-shrink: 0;

          .item--bUf {
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.4rem 13.6rem;
          }
          .line-2-h1u {
            margin-bottom: 2.3rem;
            width: 100%;
            height: 0.3rem;
            background-color: #abaacc;
          }
          .item--3bZ {
            row-gap: 1.4rem;
            display: flex;
            flex-direction: column;

            .text1-Ntj {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text2-ihh {
              margin-left: 0.1rem;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.024rem;
              white-space: nowrap;
            }
            .text3-3zs {
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
            }
          }
        }
      }
      .blockinfo3-BbH {
        width: 51.3rem;
        height: 100%;
        flex-shrink: 0;

        .item--jMu {
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2175;
          letter-spacing: 0.03rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.4rem 8.7rem;
        }
        .line-2-37h {
          margin: 0rem 0rem 3.1rem 0.1rem;
          width: 51.2rem;
          height: 0.3rem;
          background-color: #abaacc;
        }
        .auto-group-e1ph-Ay1 {
          margin-right: 16.1rem;
          width: calc(100% - 16.1rem);
          height: 12.2rem;
          display: flex;
          align-items: center;

          .item--uvb {
            margin-right: 2rem;
            height: 100%;
            row-gap: 1rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .mask-group-3mu {
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .mask-group-b2j {
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .mask-group-LW7 {
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item--U6X {
            margin: 0.1rem 0rem 0.3rem 0rem;
            height: calc(100% - 0.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .instagram-afM {
              margin-bottom: 1.3rem;
              font-size: 2.4rem;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .telegram-J5Z {
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 1.5rem 0.1rem;
              font-size: 2.4rem;
              letter-spacing: 0.024rem;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.2175;
            }
            .mail-zyy {
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
          }
        }
      }
    }
    .item--XDD {
      margin-bottom: 3.9rem;
      width: 100%;
      height: 0.3rem;
      background-color: #abaacc;
      flex-shrink: 0;
    }
    .auto-group-sc8b-S5H {
      flex-shrink: 0;
      margin: 0rem 0.5rem 0rem 0.1rem;
      width: calc(100% - 0.6rem);
      display: flex;
      align-items: center;

      .item-2023--Zfh {
        margin-right: 60.8rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.015rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--TFH {
        line-height: 1.2175;
        letter-spacing: 0.015rem;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
  .istockphoto-1079777280-612x612-1-DNs {
    vertical-align: top;
    width: 192rem;
    height: 138.6rem;
    position: absolute;
    left: 0;
    top: 61.5rem;
    object-fit: cover;
  }
  .photo2023-04-2517-31-59large-1-YAF {
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 198rem;
    height: 99rem;
    position: absolute;
  }
  .rectangle-5-sTR {
    width: 177.2rem;
    height: 115.3rem;
    position: absolute;
    left: 8rem;
    top: 94.7rem;
    background-color: rgba(208, 218, 255, 0.75);
    border-radius: 11.4rem;
  }
  .item--oM5 {
    font-family: Rubik Wet Paint, 'Source Sans Pro';
    white-space: nowrap;
    width: 60.5rem;
    left: 12rem;
    top: 13.5rem;
    font-weight: 400;
    line-height: 1.185;
    letter-spacing: 0.048rem;
    height: 5.7rem;
    position: absolute;
    font-size: 4.8rem;
    color: #ffffff;
  }
  .item--rq9 {
    position: absolute;
    font-weight: 400;
    line-height: 1.185;
    letter-spacing: 0.048rem;
    color: #ffffff;
    white-space: nowrap;
    width: 34.5rem;
    height: 5.7rem;
    left: 69.9rem;
    top: 19.2rem;
    font-size: 4.8rem;
    font-family: Rubik Wet Paint, 'Source Sans Pro';
  }
  .item--8nf {
    line-height: 1.405;
    width: 58rem;
    height: 5.7rem;
    left: 12.2rem;
    top: 78.4rem;
    font-size: 4rem;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0.04rem;
    color: #ffffff;
    font-family: Rosarivo, 'Source Sans Pro';
  }
  .item--C1q {
    top: 106.9rem;
    font-weight: 400;
    color: #000000;
    width: 44.2rem;
    height: 5.7rem;
    position: absolute;
    left: 75.5rem;
    font-size: 4rem;
    line-height: 1.405;
    letter-spacing: 0.04rem;
    font-family: Rosarivo, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-375-29-603-99-99-fg7 {
    height: 11.3rem;
    left: 26.2rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.405;
    letter-spacing: 0.04rem;
    color: #000000;
    width: 123.8rem;
    top: 181.7rem;
    font-family: Rosarivo, 'Source Sans Pro';
    position: absolute;

    .item-375-29-603-99-99-fg7-sub-0 {
    }
    .item-375-29-603-99-99-fg7-sub-1 {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2575;
      letter-spacing: 0.04rem;
      color: #000000;
      font-family: Ropa Sans, 'Source Sans Pro';
    }
  }
  .online--tKu {
    height: 9rem;
    left: 12.1rem;
    font-size: 3.2rem;
    font-family: Rosarivo, 'Source Sans Pro';
    color: #ffffff;
    width: 79.1rem;
    position: absolute;
    top: 85.7rem;
    font-weight: 400;
    line-height: 1.405;
    letter-spacing: 0.032rem;
  }
  .group-15-woy {
    background-color: rgba(217, 217, 217, 0.6000000238);
    box-sizing: border-box;
    width: 40.5rem;
    position: absolute;
    left: 12rem;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 1.9rem 3.8rem 9.5rem 3.7rem;
    height: 22.5rem;
    top: 119.6rem;
    display: flex;

    .item--3c7 {
      margin: 0rem 0.4rem 2.2rem 0rem;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: 0.024rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .call--iCT {
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: 0.016rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 33rem;
      font-size: 1.6rem;
    }
  }
  .rectangle-42-Wu1 {
    top: 151.6rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.6000000238);
    border-radius: 1rem;
    width: 126.1rem;
    height: 27.1rem;
    position: absolute;
    left: 25.7rem;
  }
  .item--E4K {
    font-weight: 500;
    color: #000000;
    width: 66.1rem;
    height: 17.1rem;
    left: 66.1rem;
    font-size: 2rem;
    font-family: Montserrat, 'Source Sans Pro';
    position: absolute;
    top: 157.9rem;
    line-height: 1.2175;
    letter-spacing: 0.02rem;
  }
  .item--QQ3 {
    line-height: 1.2175;
    height: 3rem;
    top: 155.6rem;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.024rem;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    width: 32.2rem;
    position: absolute;
    left: 30rem;
  }
  .group-17-Gh9 {
    width: 40.5rem;
    height: 27.3rem;
    position: absolute;
    left: 139.5rem;
    top: 119.6rem;
    border-radius: 1rem;

    .rectangle-43-QoM {
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(217, 217, 217, 0.6000000238);
      border-radius: 1rem;
      width: 40.5rem;
      height: 22.5rem;
      position: absolute;
    }
    .item--vWo {
      font-family: Montserrat, 'Source Sans Pro';
      top: 12.9rem;
      font-size: 1.6rem;
      line-height: 1.2175;
      color: #000000;
      font-weight: 500;
      letter-spacing: 0.016rem;
      width: 33.4rem;
      height: 7.8rem;
      position: absolute;
      left: 3.7rem;
    }
    .item--DPR {
      height: 8.8rem;
      left: 2.9rem;
      line-height: 1.2175;
      width: 34.5rem;
      position: absolute;
      top: 1.9rem;
      font-size: 2.4rem;
      font-weight: 500;
      letter-spacing: 0.024rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
    }
  }
  .group-16-p8K {
    width: 40.5rem;
    height: 24.4rem;
    position: absolute;
    left: 75.7rem;
    top: 119.6rem;
    border-radius: 1rem;

    .rectangle-42-kGs {
      width: 40.5rem;
      height: 22.5rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(217, 217, 217, 0.6000000238);
      border-radius: 1rem;
    }
    .item--fPq {
      font-size: 1.6rem;
      color: #000000;
      left: 3.7rem;
      height: 5.9rem;
      position: absolute;
      top: 10rem;
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: 0.016rem;
      font-family: Montserrat, 'Source Sans Pro';
      width: 33.3rem;
    }
    .item--afD {
      letter-spacing: 0.024rem;
      font-family: Montserrat, 'Source Sans Pro';
      height: 5.9rem;
      left: 3.4rem;
      top: 1.9rem;
      font-size: 2.4rem;
      font-weight: 500;
      width: 33.5rem;
      position: absolute;
      line-height: 1.2175;
      color: #000000;
    }
  }
  .header-ons {
    width: 192rem;
    height: 13.7rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 39, 44, 0.400000006);

    .mb-starnweb-1-M3h {
      width: 8.8rem;
      height: 8.8rem;
      position: absolute;
      left: 12rem;
      top: 2.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--GwM {
      box-sizing: border-box;
      height: 5.1rem;
      left: 112.5rem;
      line-height: 1.2175;
      white-space: nowrap;
      letter-spacing: 0.02rem;
      font-family: Montserrat, 'Source Sans Pro';
      padding: 1.3rem 2.8rem;
      width: 19rem;
      position: absolute;
      font-weight: 500;
      cursor: pointer;
      top: 3.8rem;
      font-size: 2rem;
      color: #ffffff;
    }
    .item--w1u {
      white-space: nowrap;
      box-sizing: border-box;
      letter-spacing: 0.02rem;
      color: #ffffff;
      position: absolute;
      font-size: 2rem;
      font-weight: 500;
      font-family: Montserrat, 'Source Sans Pro';
      height: 5.1rem;
      cursor: pointer;
      left: 127.5rem;
      top: 3.8rem;
      line-height: 1.2175;
      padding: 1.3rem 2.8rem;
      width: 19rem;
    }
    .item--bs9 {
      box-sizing: border-box;
      top: 3.8rem;
      font-size: 2rem;
      letter-spacing: 0.02rem;
      font-family: Montserrat, 'Source Sans Pro';
      padding: 1.3rem 2.8rem;
      width: 19rem;
      color: #ffffff;
      white-space: nowrap;
      height: 5.1rem;
      left: 142.5rem;
      font-weight: 500;
      line-height: 1.2175;
      cursor: pointer;
      position: absolute;
    }
    .item--sZm {
      position: absolute;
      letter-spacing: 0.02rem;
      justify-content: center;
      height: 5.1rem;
      top: 3.8rem;
      font-weight: 500;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      display: flex;
      align-items: center;
      cursor: pointer;
      white-space: nowrap;
      width: 19rem;
      font-size: 2rem;
      line-height: 1.2175;
      left: 93rem;
    }
    .item--8Vh {
      width: 192rem;
      height: 13.6rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .navigator-qf1 {
      left: 173.8rem;
      top: 4.8rem;
      width: 6.24rem;
      height: 3.9rem;
      cursor: pointer;
      position: absolute;

      .rectangle-7-mHm {
        background-color: #fffdfd;
        border-radius: 1rem;
        margin-bottom: 0.82rem;
        width: 100%;
        height: 0.78rem;
      }
      .rectangle-8-u95 {
        width: 4.5rem;
        height: 0.7rem;
        background-color: #fffdfd;
        border-radius: 1rem;
        margin-bottom: 0.82rem;
      }
      .rectangle-9-Seo {
        height: 0.78rem;
        background-color: #fffdfd;
        border-radius: 1rem;
        width: 100%;
      }
    }
  }
}
