
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 53rem;
}.component-67-cRR {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #9747ff;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;

  .property-1frame-27-xkB {
    font-size: 4rem;
    font-family: Playfair Display, 'Source Sans Pro';
    margin-right: 3.6rem;
    padding-top: 2.8rem;
    white-space: nowrap;
    flex-shrink: 0;
    letter-spacing: 0.04rem;
    color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    font-weight: 900;
    line-height: 0.625;
    width: 22.7rem;
    height: 3.4rem;
    cursor: pointer;
  }
  .property-1frame-28-SQT {
    line-height: 0.625;
    color: #ffffff;
    font-family: Playfair Display, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    width: 22.7rem;
    height: 3.4rem;
    overflow: hidden;
    position: relative;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.04rem;
    filter: blur(0.2rem);
  }
}
