
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 29.8rem;
}.component-69-mQ7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
  border: dashed 0.1rem #9747ff;

  .property-1frame-27-iaF {
    width: 10.5rem;
    font-weight: 900;
    font-family: Playfair Display, 'Source Sans Pro';
    flex-shrink: 0;
    height: 3.1rem;
    overflow: hidden;
    position: relative;
    line-height: 0.625;
    color: #ffffff;
    margin-right: 4.8rem;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 2.4rem 0rem 0rem 0.1rem;
    cursor: pointer;
    font-size: 4rem;
    letter-spacing: 0.04rem;
  }
  .property-1frame-28-BCw {
    position: relative;
    font-size: 4rem;
    line-height: 0.625;
    letter-spacing: 0.04rem;
    overflow: hidden;
    height: 3.1rem;
    font-weight: 900;
    color: #ffffff;
    font-family: Playfair Display, 'Source Sans Pro';
    white-space: nowrap;
    filter: blur(0.2rem);
    flex-shrink: 0;
    width: 10.5rem;
  }
}
