
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.reservation-AUK {
  height: 235.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .footer-6My {
    display: flex;
    flex-direction: column;
    padding: 17.9rem 11.9rem 11.9rem 12.1rem;
    height: 58rem;
    position: absolute;
    left: 0;
    background-color: #1a1a3c;
    box-sizing: border-box;
    width: 192rem;
    top: 177.9rem;
    align-items: center;

    .auto-group-1j4j-mj1 {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 100%;
      height: 19.7rem;
      display: flex;

      .auto-group-nrqf-7H5 {
        box-sizing: border-box;
        padding-right: 7.1rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .blockinfo1-eno {
          margin-right: 7.2rem;
          width: 51.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--C3d {
            margin: 0rem 0rem 0.4rem 1.3rem;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            color: #ffffff;
          }
          .line-2-eRR {
            background-color: #abaacc;
            flex-shrink: 0;
            margin-bottom: 2.9rem;
            width: 100%;
            height: 0.3rem;
          }
          .item--yyV {
            row-gap: 1.4rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 9.1rem;

            .text1-huV {
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .text2-2wm {
              margin-left: 0.1rem;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text3-wYw {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
        }
        .blockinfo2-59M {
          width: 51.2rem;
          flex-shrink: 0;

          .item--psd {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.4rem 13.6rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2175;
            letter-spacing: 0.03rem;
            color: #ffffff;
          }
          .line-2-ii7 {
            margin-bottom: 2.3rem;
            width: 100%;
            height: 0.3rem;
            background-color: #abaacc;
          }
          .item--g99 {
            row-gap: 1.4rem;
            display: flex;
            flex-direction: column;

            .text1-1hD {
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
            .text2-9Hd {
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.024rem;
              color: #ffffff;
              white-space: nowrap;
              margin-left: 0.1rem;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .text3-Uao {
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              letter-spacing: 0.024rem;
            }
          }
        }
      }
      .blockinfo3-cBD {
        width: 51.3rem;
        height: 100%;
        flex-shrink: 0;

        .item--Zs9 {
          margin: 0rem 0rem 0.4rem 8.7rem;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2175;
          letter-spacing: 0.03rem;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .line-2-sN3 {
          margin: 0rem 0rem 3.1rem 0.1rem;
          width: 51.2rem;
          height: 0.3rem;
          background-color: #abaacc;
        }
        .auto-group-p4rx-Cv7 {
          height: 12.2rem;
          display: flex;
          align-items: center;
          margin-right: 16.1rem;
          width: calc(100% - 16.1rem);

          .item--kAw {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 2rem;
            height: 100%;
            row-gap: 1rem;

            .mask-group-UMq {
              height: 3.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
            }
            .mask-group-pAo {
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .mask-group-MwR {
              vertical-align: top;
              flex-shrink: 0;
              width: 3.4rem;
              height: 3.4rem;
              position: relative;
              object-fit: contain;
            }
          }
          .item--6u1 {
            height: calc(100% - 0.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.1rem 0rem 0.3rem 0rem;

            .instagram-1m5 {
              font-weight: 400;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 2.4rem;
              letter-spacing: 0.024rem;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.3rem;
            }
            .telegram-YW7 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2175;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              margin: 0rem 0rem 1.5rem 0.1rem;
              letter-spacing: 0.024rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .mail-faj {
              line-height: 1.2175;
              letter-spacing: 0.024rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 400;
            }
          }
        }
      }
    }
    .item--nfM {
      background-color: #abaacc;
      flex-shrink: 0;
      margin-bottom: 3.9rem;
      width: 100%;
      height: 0.3rem;
    }
    .auto-group-b4k3-h1d {
      margin: 0rem 0.5rem 0rem 0.1rem;
      width: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item-2023--RCX {
        font-weight: 500;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 60.8rem;
        font-size: 1.5rem;
        white-space: nowrap;
        line-height: 1.2175;
        letter-spacing: 0.015rem;
      }
      .item--75M {
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.015rem;
      }
    }
  }
  .automobile-12914911920-1-G6f {
    width: 192rem;
    height: 144rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .item--Ph5 {
    align-items: center;
    background-color: rgba(184, 203, 221, 0.6600000262);
    width: 177.2rem;
    height: 60.3rem;
    position: absolute;
    left: 7.4rem;
    flex-direction: column;
    border-radius: 11.4rem;
    box-sizing: border-box;
    padding: 1.191rem 27.4rem 14.795rem 42.2rem;
    top: 130.3rem;
    display: flex;

    .auto-group-mqgw-SfM {
      width: 100%;
      height: 11.815rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 2.9712rem;

      .item--njD {
        height: 4.7rem;
        position: absolute;
        left: 24rem;
        top: 7.115rem;
        font-size: 4rem;
        line-height: 1.1725;
        color: #182c39;
        white-space: nowrap;
        width: 50.5rem;
        font-weight: 800;
        font-family: Roboto, 'Source Sans Pro';
      }
      .item--F71 {
        width: 107.6rem;
        height: 7.9557rem;
        position: absolute;
        left: 0;
        top: 0;

        .item--LeF {
          white-space: nowrap;
          left: 0;
          top: 0;
          font-size: 6.4rem;
          line-height: 1.1725;
          color: #182c39;
          font-family: Roboto, 'Source Sans Pro';
          width: 107.4rem;
          height: 7.6rem;
          position: absolute;
          font-weight: 800;
        }
        .item--1Eb {
          height: 7.6rem;
          position: absolute;
          font-size: 6.4rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 107.4rem;
          top: 0.1779rem;
          font-weight: 800;
          line-height: 1.1725;
          color: #182c39;
          left: 0.2rem;
        }
        .item--fpw {
          font-weight: 800;
          color: #ffffff;
          white-space: nowrap;
          left: 0.1rem;
          height: 7.6rem;
          position: absolute;
          top: 0.3557rem;
          font-size: 6.4rem;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          width: 107.4rem;
        }
      }
    }
    .item--Keb {
      font-weight: 500;
      font-family: Roboto, 'Source Sans Pro';
      box-sizing: border-box;
      cursor: pointer;
      border-radius: 0.8rem;
      padding: 1.221rem 3.717rem 1.805rem 3.717rem;
      color: #182c39;
      white-space: nowrap;
      margin: 0rem 34.7rem 3.824rem 19.8rem;
      width: calc(100% - 54.5rem);
      font-size: 2rem;
      line-height: 1.1725;
      border: solid 0.2rem #182c39;
      flex-shrink: 0;
    }
    .email-wvs {
      padding: 1.221rem 3.717rem 1.805rem 3.717rem;
      line-height: 1.1725;
      font-size: 2rem;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin: 0rem 34.7rem 3.824rem 19.8rem;
      cursor: pointer;
      font-weight: 500;
      color: #182c39;
      border: solid 0.2rem #182c39;
      box-sizing: border-box;
      width: calc(100% - 54.5rem);
    }
    .item--z8T {
      cursor: pointer;
      line-height: 1.1725;
      color: #182c39;
      white-space: nowrap;
      border-radius: 0.8rem;
      margin: 0rem 34.7rem 1.156rem 19.8rem;
      font-size: 2rem;
      font-family: Roboto, 'Source Sans Pro';
      border: solid 0.2rem #182c39;
      flex-shrink: 0;
      width: calc(100% - 54.5rem);
      font-weight: 500;
      padding: 1.221rem 3.717rem 1.805rem 3.717rem;
      box-sizing: border-box;
    }
    .item--RjZ {
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 47.5rem 0rem 30.1rem;
      width: calc(100% - 77.6rem);
      height: 4.4469rem;

      .item--XXh {
        width: 21.2rem;
        position: absolute;
        top: 0.9783rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #182c39;
        height: 2.9rem;
        left: 6.3rem;
        font-size: 2.4rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-31-pWo {
        height: 4.4469rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.2rem #182c39;
        box-sizing: border-box;
        border-radius: 0.8rem;
        width: 30rem;
      }
    }
  }
  .header-vJw {
    width: 192rem;
    height: 13.7rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 39, 44, 0.400000006);

    .mb-starnweb-1-TZm {
      top: 2.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.8rem;
      height: 8.8rem;
      position: absolute;
      left: 12rem;
    }
    .item--zJo {
      position: absolute;
      font-weight: 500;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      box-sizing: border-box;
      top: 3.8rem;
      font-size: 2rem;
      padding: 1.3rem 2.8rem;
      left: 112.5rem;
      white-space: nowrap;
      letter-spacing: 0.02rem;
      color: #ffffff;
      width: 19rem;
      height: 5.1rem;
      cursor: pointer;
    }
    .item--Eyq {
      top: 3.8rem;
      line-height: 1.2175;
      letter-spacing: 0.02rem;
      height: 5.1rem;
      position: absolute;
      font-size: 2rem;
      color: #ffffff;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.3rem 2.8rem;
      width: 19rem;
      left: 127.5rem;
      font-family: Montserrat, 'Source Sans Pro';
      cursor: pointer;
      font-weight: 500;
    }
    .item--6FM {
      top: 3.8rem;
      letter-spacing: 0.02rem;
      left: 142.5rem;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.3rem 2.8rem;
      height: 5.1rem;
      position: absolute;
      width: 19rem;
      cursor: pointer;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2175;
    }
    .item--Zej {
      height: 5.1rem;
      cursor: pointer;
      white-space: nowrap;
      display: flex;
      width: 19rem;
      position: absolute;
      color: #ffffff;
      justify-content: center;
      left: 93rem;
      top: 3.8rem;
      letter-spacing: 0.02rem;
      font-family: Montserrat, 'Source Sans Pro';
      align-items: center;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2175;
    }
    .item--paf {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 192rem;
      height: 13.6rem;
    }
    .navigator-pDH {
      left: 173.8rem;
      top: 4.8rem;
      width: 6.24rem;
      height: 3.9rem;
      cursor: pointer;
      position: absolute;

      .rectangle-7-9FZ {
        background-color: #fffdfd;
        border-radius: 1rem;
        margin-bottom: 0.82rem;
        width: 100%;
        height: 0.78rem;
      }
      .rectangle-8-sxF {
        margin-bottom: 0.82rem;
        width: 4.5rem;
        height: 0.7rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
      .rectangle-9-DWK {
        width: 100%;
        height: 0.78rem;
        background-color: #fffdfd;
        border-radius: 1rem;
      }
    }
  }
}
